/* css styles */
body {
  background-color: black;
  color: white ;
}

h1 {
  color: white;
}


/* cible le titre */
h3 {
  color: white;
}

/* cible les liens */
a {
  color: white;
}

.navbar-nav .nav-link {
  background-image: url('outil_R.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 1000px;
}