// Colors

$link-color: #DE3831;

$code-block-stdoutcolor: #37424a;
$code-block-stdoutcolor-light: rgba($code-block-stdoutcolor, 0.5);
$code-block-stdoutcolor-lighter: rgba($code-block-stdoutcolor, 0.1);

// font face

@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto');


$toc-font-size: 1.2em;

/*-- scss:rules --*/

.cell-output-display pre, .cell-output-stdout pre {
    background-color: $code-block-stdoutcolor-lighter !important;
    border: 1.5px solid $code-block-stdoutcolor-light;
    border-radius: .25rem;
    border-left: 4px;
    border-left-style: solid;
    border-left-color: $code-block-stdoutcolor;
    padding: .4em;
    color: #37424a
}


.cell-output pre code {
    background-color: transparent;
}


